@import "../../scss/variables";
@import "../../scss/mixins.scss";

.cart {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 360px;
  height: 250px;
  right: -150%;
  // left: -2000%;
  top: 60px;
  background-color: $white;
  z-index: 2;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 10px 14px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 10px 14px 0px rgba(34, 60, 80, 0.2);
  padding: 1.5rem 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  @include delay(0.1s);
  &.active {
    opacity: 1;
    visibility: visible;
    @include delay(0.1s);
  }
  &_title {
    position: relative;
    padding: 0 1.5rem;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #eeeef2;
      left: 0;
      top: 200%;
    }
  }
  &_body {
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    &_item {
      // position: relative;
      display: flex;
      align-items: center;
      margin: 2rem 0 0 0;
      width: 100%;
      &__img {
        padding: 0 1rem 0 0;
        img {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          width: 50px;
          height: 50px;
          cursor: auto;
        }
      }
      &__info {
        p {
          color: $text;
          strong {
            color: $title;
            padding: 0 0 0 5px;
          }
        }
      }
      &__trash {
        margin: 0 0 0 auto;
        cursor: pointer;
        &:hover {
          path {
            fill: $title;
          }
        }
      }
    }
    &__btn {
      display: block;
      width: 100%;
      height: 55px;
      background-color: $orange;
      color: $white;
      outline: none;
      border: none;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
