@import "../../scss/variables";

.desc {
  padding: 0 0rem 0 8rem;
  @media (max-width: 975px) {
    padding: 0 0rem 0 6rem;
  }
  @media (max-width: 870px) {
    padding: 0 0rem 0 4rem;
  }
  @media (max-width: 800px) {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  &_name {
    color: $orange;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 800px) {
      font-size: 13px;
    }
  }
  &_info {
    margin: 1rem 0 0 0;
    &__title {
      font-size: 42px;
      line-height: 48px;
      letter-spacing: 1px;
      @media (max-width: 800px) {
        font-size: 30px;
      }
      @media (max-width: 700px) {
        font-size: 26px;
        line-height: 30px;
      }
    }
    &__text {
      margin: 2.3rem 0 0 0;
      color: $text;
      line-height: 25px;
      @media (max-width: 800px) {
        font-size: 15px;
        margin: 1rem 0 0 0;
      }
    }
    &_price {
      margin: 1.5rem 0 0 0;
      @media (max-width: 800px) {
        display: flex;
        align-items: center;
      }
      &_current {
        position: relative;
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        &::after {
          content: attr(data-discount);
          position: absolute;
          left: 115%;
          top: 50%;
          font-size: 16px;
          background-color: hsl(25, 100%, 94%);
          padding: 2px 7px;
          color: $orange;
          transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
      }
      &_old {
        position: relative;
        color: hsl(220, 14%, 75%);
        font-weight: 700;
        display: inline-block;
        margin: 0 0 0 auto;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
          background-color: hsl(220, 14%, 75%);
        }
      }
    }
  }
  &_bottom {
    margin: 2.3rem 0 0 0;
    display: flex;
    @media (max-width: 800px) {
      display: block;
    }
    &__count {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem 0 0;
      flex: 0 1 35%;
      background-color: hsl(223, 64%, 98%);
      height: 55px;
      font-weight: 700;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @media (max-width: 800px) {
        margin: 0;
      }
      &_minus {
        position: absolute;
        left: 0.8rem;
        cursor: pointer;
      }
      &_plus {
        position: absolute;
        right: 0.8rem;
        cursor: pointer;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 1 65%;
      font-weight: 700;
      color: $white;
      border: none;
      outline: none;
      background-color: $orange;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @media (max-width: 800px) {
        width: 100%;
        height: 55px;
        margin: 1rem 0 0 0;
      }
      svg {
        path {
          fill: $white;
        }
      }
      span {
        padding: 0 0 0 1rem;
      }
    }
  }
}
