@import "../../scss/variables";

.gallery {
  // flex: 0 0 50%;
  // padding: 0 0 0 1.5rem;
  // @media (max-width: 800px) {
  //   padding: 0;
  // }
  &_main {
    position: relative;
    //width: 100%;
    width: 450px;
    padding: 220px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    @media (max-width: 800px) {
      width: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    @media (max-width: 570px) {
      padding: 150px 0;
    }
    @media (max-width: 425px) {
      padding: 120px 0;
    }
    &_prev {
      width: 35px;
      height: 35px;
      left: 5%;
    }
    &_next {
      width: 35px;
      height: 35px;
      right: 5%;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  &_row {
    padding: 2rem 0 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      display: none;
    }
    &_item {
      position: relative;
      flex: 0 0 90px;
      padding: 45px 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
.currentImg {
  border: 1px solid $orange;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffa8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
