@import "./variables";
@import "./mixins.scss";

.wrapper {
  padding: 20px 0;
  position: relative;
  min-height: 100vh;
  &.active {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.704);
    }
  }
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header {
  position: relative;
  &-burger {
    display: none;
    position: relative;
    z-index: 5;
    width: 20px;
    height: 16px;
    // height: 100%;
    top: 1.5px;
    margin: 0 1rem 0 0;
    @include delay(0.3s);
    span {
      position: absolute;
      width: 100%;
      right: 0;
      top: 50%;
      height: 3px;
      background-color: $title;
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      @include delay(0.3s);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $title;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      @include delay(0.3s);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $title;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      @include delay(0.3s);
    }
    @media (max-width: 630px) {
      display: block;

      &.active {
        span {
          transform: translate(100%, 0) scale(0);
          -webkit-transform: translate(100%, 0) scale(0);
          -moz-transform: translate(100%, 0) scale(0);
          -ms-transform: translate(100%, 0) scale(0);
          -o-transform: translate(100%, 0) scale(0);
          @include delay(0.3s);
        }
        &::before {
          top: 47%;
          transform: rotate(45deg) translate(0, -50%);
          -webkit-transform: rotate(45deg) translate(0, -50%);
          -moz-transform: rotate(45deg) translate(0, -50%);
          -ms-transform: rotate(45deg) translate(0, -50%);
          -o-transform: rotate(45deg) translate(0, -50%);
          @include delay(0.3s);
        }
        &::after {
          bottom: 50%;
          transform: rotate(-45deg) translate(0, 50%);
          -webkit-transform: rotate(-45deg) translate(0, 50%);
          -moz-transform: rotate(-45deg) translate(0, 50%);
          -ms-transform: rotate(-45deg) translate(0, 50%);
          -o-transform: rotate(-45deg) translate(0, 50%);
          @include delay(0.3s);
        }
      }
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-weight: 700;

      @media (max-width: 630px) {
        margin: 0 auto 0 0;
      }
    }
    &__menu {
      position: relative;
      flex: 1 1 100%;
      padding: 0 0 0 3.5rem;

      @media (max-width: 790px) {
        padding: 0 0 0 1.5rem;
      }
      @media (max-width: 630px) {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0px;
        background-color: $white;
        width: 65%;
        height: 100%;
        padding: 0 0 0 2rem;
        z-index: 2;
        &.active {
          opacity: 1;
          visibility: visible;
          @include delay(0.3s);
          &::after {
            @include delay(0.3s);
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 100%;
            top: 0;
            background-color: #000;
            opacity: 0.5;
          }
          ul {
            display: block;
            margin: 100px 0 0 0;
            li {
              &:not(:last-of-type) {
                margin: 0 0rem 1rem 0;
              }
              a {
                font-weight: 700;
                color: $title;
                &:hover {
                  color: $title;
                }
              }
            }
          }
        }
      }
      ul {
        display: flex;
        padding: 0;
        li {
          list-style-type: none;
          &:not(:last-of-type) {
            margin: 0 2rem 0 0;
            @media (max-width: 710px) {
              margin: 0 1rem 0 0;
            }
          }
          a {
            color: $text;
            &:hover {
              color: $title;
            }
          }
        }
      }
    }
    &_info {
      position: relative;
      display: flex;
      align-items: center;
      &_cart {
        position: relative;
        margin: 0 3rem 0 0;
        &::after {
          content: attr(data-count);
          position: absolute;
          left: 50%;
          top: -50%;
          background-color: $orange;
          color: $white;
          padding: 0 7px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          font-size: 10px;
        }
        @media (max-width: 730px) {
          margin: 0 1.5rem 0 0;
        }
        img {
          cursor: pointer;
        }
      }
      &_avatar {
        width: 50px;
        @media (max-width: 630px) {
          width: 30px;
        }
        // height: 50px;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e8e7eb;
    top: 90px;
  }
}
.main {
  padding: 115px 0;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 800px) {
    padding: 20px 0;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
      display: block;
    }
  }
}
/* =============================================================================== */
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  &-close {
    position: absolute;
    right: 0;

    cursor: pointer;
    svg {
      path {
        fill: $white;
      }
    }
    &:hover {
      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
  &-mainImg {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    img {
      width: 550px;
      height: 550px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    &_prev {
      position: absolute;
      left: -5%;
      background-color: $white;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      &:hover {
        svg {
          path {
            stroke: $orange;
          }
        }
      }
    }
    &_next {
      position: absolute;
      right: -5%;
      background-color: $white;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      &:hover {
        svg {
          path {
            stroke: $orange;
          }
        }
      }
    }
  }
  &-row {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 0 0;
    &__item {
      position: relative;
      flex: 0 0 90px;
      padding: 45px 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;

      &:hover {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #ffffff6f;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
      }
      &:not(:last-of-type) {
        margin: 0 2rem 0 0;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.currentActiveImg {
  border: 2px solid $orange;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffa8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
