@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  background-color: $white;
}

img {
  // max-width: 100%;
  display: block;
}

// aside{
//   container-type: inline-size;
// }

input,
button,
textarea,
select {
  font: inherit;
}
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}
